<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="no/nav/common/log/logback-default.xml"/>
    <logger name="no.nav.veilarbaktivitet" level="DEBUG"/>
    <logger name="org.springframework.jdbc.core.JdbcTemplate">
        <level value="debug" />
    </logger>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils">
        <level value="debug" />
    </logger>
</configuration>
