<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="no/nav/common/log/logback-naudit.xml"/>
    <include resource="no/nav/common/log/logback-cxf.xml"/>
    <include resource="no/nav/common/log/logback-stdout-json.xml"/>
    <include resource="logback-team-logs.xml"/>
    <logger name="spring.jackson" level="DEBUG"/>
    <logger name="tools.jackson" level="DEBUG"/>
    <logger name="no.nav.common.json" level="DEBUG"/>
</configuration>