name: Deploy slo-alerts
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'nais/slo-http-alerts.yaml'
      - '.github/workflows/alerts-slo.yml'

concurrency:
  group: deploy_slo_alerts
  cancel-in-progress: true

jobs:
  apply-slo-alerts:
    name: Apply alerts to cluster
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: generate alerts from sloth
        uses: navikt/sloth-nais-alert-action@main
        with:
          input-file: nais/slo-http-alerts.yaml
          output-file: alerts-feilrate-slo.yaml
          team: dab
          name: veilarbaktivitet-alarm

      - uses: actions/upload-artifact@v4
        with:
          name: alerts
          path: alerts-feilrate-slo.yaml

      - name: deploy to dev-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE:  alerts-feilrate-slo.yaml
      - name: deploy to prod-gcp
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: alerts-feilrate-slo.yaml
